@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html * {
  font-family: "Roboto";
}

header {
  background-color: #00adb5;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/*
.my_nav {
  background-color: #393e46;
  text-align: center;
  transition: background-color 0.3s ease;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}*/

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product {
  border: 1px solid #393e46;
  background-color: #eeeeee;
  padding: 20px;
  margin: 10px;
  width: 250px;
}

.listing-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.slider figure {
  display: inline-block;
  width: 100%;
  transition: transform 1s ease-in-out;
}

.slider-container {
  white-space: nowrap;
  transition: transform 1s ease-in-out;
}
